<div ng-controller="home.map.ToolsCtrl" ng-switch="isLoading">

    <div cric-panel-content class="loading" ng-switch-when="true">

    </div>

	<div ng-switch-when="false"">
        
            <div class="row-fluid">
                <div class="span12">
                    <select class="span12 info" ng-model="tool" ng-change="onToolSelected(tool)" 
                        ng-options="tool.name for tool in tools" />
                </div>
            </div>
        
            <hr style="margin-top:0; margin-bottom: 10px;" />
	
            <div class="row-fluid">

                <div ng-switch="subview" class="span12">

                    <div ng-switch-when="bookmarks" ng-include=" 'app/partials/home/map/tools/bookmarks.html' "></div>
                    <div ng-switch-when="query" ng-include=" 'app/partials/home/map/tools/query.html' "></div>

                </div>

            </div>

    </div>

</div>